.carousel-img {
    height: 500px;
    max-height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .carousel-img {
        height: 300px;
        max-height: 300px;
    }
}

@media (max-width: 576px) {
    .carousel-img {
        height: 250px;
        max-height: 250px;
    }
}