<div class="mt-1">
  <div class="d-flex justify-content-center">
    <span class="text-white fw-semibold fs-2 mt-2">Plataformas de Streaming</span>
  </div>
  <div class="navbar d-flex container justify-content-around pb-4">
    <iframe class="m-3" style="border-radius: 12px; min-width: 300px;" width="45%" height="450" title="Spotify Embed: A Fatal Existência de um
        Sonhador" frameborder="0" allowfullscreen allow="autoplay; clipboard-write; encrypted-media; fullscreen;
        picture-in-picture" loading="lazy"
      src="https://open.spotify.com/embed/album/2BVj8gtu07PUnot714vA47?si=svQkqkGNR3y0FDsvdltYBQ&utm_source=oembed\"></iframe>

    <iframe class="m-3" allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0"
      height="450" style="width: 45%; min-width: 300px; max-width: 660px; overflow: hidden; border-radius: 10px;"
      sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
      src="https://embed.music.apple.com/br/album/a-fatal-exist%C3%AAncia-de-um-sonhador/1673866727"></iframe>

  </div>
</div>