<header class="navbar bg-success">
    <div class="container">
        <div>
            <img src="../assets/imgs/freiya.png" class="ms-2" style="height: 2rem;" alt="">
        </div>
        <div>
            <a href="https://www.youtube.com/channel/UCfb85sGgSd-IkmjYSOi0mlA"
                class="btn btn-success fa fa-youtube-play fs-4"></a>
            <a href="https://open.spotify.com/artist/1TupoCnann2Vo520MVhBGr"
                class="btn btn-success fa fa-spotify fs-4"></a>
            <a href="https://music.apple.com/us/artist/freiya/1542679048" class="btn btn-success fa fa-apple fs-4"></a>
        </div>
    </div>
</header>