<div id="secao3">
    <div class="container d-flex justify-content-center pt-4 mb-2">
        <img src="../../../assets/imgs/integrantes.png" height="40px" alt="">
    </div>
    <div class="navbar d-flex container justify-content-around pb-4">
        <div>
            <img height="250px" width="250px" src="../../../assets/imgs/cicular/01.png" alt="" />
            <div class="text-white text-center fw-light fs-2">Theo Tourn</div>
            <div class="text-white text-center fw-light fs-6">
                Vocalista/Guitarrista
            </div>
        </div>
        <div>
            <img height="250px" width="250px" src="../../../assets/imgs/cicular/02.png" alt="" />
            <div class="text-white text-center fw-light fs-2">Eduardo Mateus</div>
            <div class="text-white text-center fw-light fs-6">
                Vocalista/Guitarrista
            </div>
        </div>
        <div>
            <img height="250px" width="250px" src="../../../assets/imgs/cicular/03.png" alt="" />
            <div class="text-white text-center fw-light fs-2">Pedro Gil</div>
            <div class="text-white text-center fw-light fs-6">Baixista</div>
        </div>
        <div>
            <img height="250px" width="250px" src="../../../assets/imgs/cicular/04.png" alt="" />
            <div class="text-white text-center fw-light fs-2">Jonatha Fiuza</div>
            <div class="text-white text-center fw-light fs-6">Baterista</div>
        </div>
    </div>
</div>