<div class="mt-1">
    <div class="container d-flex justify-content-center">
        <span class="text-white fw-semibold fs-2 mt-2">Sobre a banda</span>
    </div>
    <div class="container d-flex align-items-center mt-3">
        <span class="text-white fw-light fs-5 text-center mb-4">
            Freiya é uma banda de Porto Alegre, RS. Formada pelos membros Theo Tourn,
            Eduardo Mateus e Jonatha Fiuza. Desde 2019 em atividade, apresenta sons
            com diversas influências, como Rock Alternativo, Emocore, Pop Punk, e o
            recente Midwest Emo. Atualmente, sua formação é composta por Theo Tourn e
            Eduardo Mateus nas guitarras e vocais, Pedro Gil no baixo e Jonatha Fiuza
            na bateria.</span>
    </div>
</div>