<div class="navbar d-flex container-fluid justify-content-center mt-2">
  <div class="me-1 ms-1">
    <div class="text-white text-center fw-light fs-3">Pink</div>
    <iframe
      width="400"
      height="225"
      class="mb-2"
      src="https://www.youtube.com/embed/NuunFK7y_Ys"
    >
    </iframe>
  </div>
  <div class="me-1 ms-1">
    <div class="text-white text-center fw-light fs-3">Caixa de Pandora</div>
    <iframe
      width="400"
      height="225"
      class="mb-2"
      src="https://www.youtube.com/embed/rR8zYfNv1wM"
    >
    </iframe>
  </div>
  <div class="me-1 ms-1">
    <div class="text-white text-center fw-light fs-3">Sonhador</div>
    <iframe
      width="400"
      height="225"
      class="mb-2"
      src="https://www.youtube.com/embed/KqNr7ZmxZ2c"
    >
    </iframe>
  </div>
  <div class="container d-flex align-items-center">
    <span class="text-white fw-light fs-5 text-center mb-4">
      Freiya é uma banda de Porto Alegre, RS. Formada pelos membros Theo Tourn,
      Eduardo Mateus e Jonatha Fiuza. Desde 2019 em atividade, apresenta sons
      com diversas influências, como Rock Alternativo, Emocore, Pop Punk, e o
      recente Midwest Emo. Atualmente, sua formação é composta por Theo Tourn e
      Eduardo Mateus nas guitarras e vocais, Pedro Gil no baixo e Jonatha Fiuza
      na bateria.</span
    >
  </div>

  <div class="container d-flex justify-content-center">
    <span class="text-white fw-light fs-2 mb-1 mt-2">Integrantes</span>
  </div>
  <div class="navbar d-flex container justify-content-around pb-4">
    <div>
      <img
        height="250px"
        width="250px"
        src="../../../assets/imgs/cicular/01.png"
        alt=""
      />
      <div class="text-white text-center fw-light fs-2">Theo Tourn</div>
      <div class="text-white text-center fw-light fs-6">
        Vocalista/Guitarrista
      </div>
    </div>
    <div>
      <img
        height="250px"
        width="250px"
        src="../../../assets/imgs/cicular/02.png"
        alt=""
      />
      <div class="text-white text-center fw-light fs-2">Eduardo Mateus</div>
      <div class="text-white text-center fw-light fs-6">
        Vocalista/Guitarrista
      </div>
    </div>
    <div>
      <img
        height="250px"
        width="250px"
        src="../../../assets/imgs/cicular/03.png"
        alt=""
      />
      <div class="text-white text-center fw-light fs-2">Pedro Gil</div>
      <div class="text-white text-center fw-light fs-6">Baixista</div>
    </div>
    <div>
      <img
        height="250px"
        width="250px"
        src="../../../assets/imgs/cicular/04.png"
        alt=""
      />
      <div class="text-white text-center fw-light fs-2">Jonatha Fiuza</div>
      <div class="text-white text-center fw-light fs-6">Baterista</div>
    </div>
  </div>
</div>
